.Rproj.user
.Rhistory
.RData
.Ruserdata
COVID-19CumulativeTestTotalsbyCounty.xlsx
TexasCOVID19CaseCountData.xlsx
TexasCOVID19DailyCountyCaseCountData.xlsx
claims-industry-twc.xlsx
google_analytics.html
rsconnect
weekly-claims-by-county-twc.xlsx
test_increase_type_April 23, 2020.png
test_increase_type_April 24, 2020.png
test_increase_type_April 26, 2020.png
test_positive_rate_April 23, 2020.png
test_positive_rate_April 24, 2020.png
test_positive_rate_April 26, 2020.png
county_pop.rds
state_pop.rds
johns_cli_ili_pull.csv
