.Rproj.user
.Rhistory
.RData
.Ruserdata
COVID-19CumulativeTestTotalsbyCounty.xlsx
TexasCOVID19CaseCountData.xlsx
TexasCOVID19DailyCountyCaseCountData.xlsx
claims-industry-twc.xlsx
google_analytics.html
rsconnect
weekly-claims-by-county-twc.xlsx
test_increase_type_April 23, 2020.png
test_increase_type_April 24, 2020.png
test_increase_type_April 26, 2020.png
test_positive_rate_April 23, 2020.png
test_positive_rate_April 24, 2020.png
test_positive_rate_April 26, 2020.png
county_pop.rds
state_pop.rds
johns_cli_ili_pull.csv
social_tags.html
AWSCLIV2.pkg
COVID Workbook.nb.html
COVID Workbook.Rmd
test_cicerone.R
README.Rmd
data
distill.css
Hospitalization TS Article.Rmd
Hospitalization-TS-Article.html
TexasCOVID-19CumulativeTestsOverTimebyCounty.xlsx
.RDataTmp1
.RDataTmp2
Open Source Apps.Rmd
Open-Source-Apps.log
Open-Source-Apps.pdf
PDF_Print.tex
TexasCOVID-19ActiveCaseDatabyCounty.xlsx
~$TexasCOVID-19ActiveCaseDatabyCounty.xlsx
~$TexasCOVID-19CumulativeTestsOverTimebyCounty.xlsx
~$TexasCOVID19CaseCountData.xlsx
.RDataTmp3
major_cities_and_texas.csv
ProfVis_Report_Jul2.Rprofvis
app.html
.Rproj (1).user
TexasCOVID19DailyCountyFatalityCountData.xlsx
.RDataTmp4
TexasHospitalCapacityoverTimebyTSA.xlsx
~$TexasCOVID19DailyCountyFatalityCountData.xlsx
TexasCOVID19DailyCountyFatalityCountData.xlsx
Table Tests.Rmd
Table Tests.nb.html
