.main-header .logo {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  /* font-size: 24px; */
}

.main-header {
  position: fixed;
  width:100%;
  -webkit-box-shadow: 0 8px 6px 0px #002D74;
	-moz-box-shadow: 0 8px 6px 0px #002D74;
	box-shadow: 0 8px 15px 0px #002D74;
}


.skin-blue .main-header .navbar {
background-color: #EAEFF6;
}

.no-scroll .leaf-map {
  overflow-y: scroll;
  position: fixed;
  width: 700px;
}

.no-scroll .header-row {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.leaflet-container .leaflet-control-attribution {
	background: #3A4A9F;
	color:#fff;
	margin: 0;
	}

.nav-tabs-custom>.tab-content {
background: #3A4A9F;
padding: 0px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

.nav-tabs-custom>.nav-tabs {
margin: 0;
border-bottom-color: #3A4A9F;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

.nav-tabs-custom {
margin-bottom: 20px;
background: #3A4A9F;
box-shadow: 0 1px 1px rgba(0,0,0,.1);
border-radius: 3px;
}

.small-box {
border-radius: 2px;
position: relative;
display: block;
margin-bottom: 20px;
box-shadow: 0 0px 0px rgba(0,0,0,.1);
}

.leaflet-control-attribution:hover {
outline: 0;
text-decoration: none;
color: #F26852;
}

.leaflet-control-attribution, .leaflet-control-scale-line {
padding: 0 5px;
color: #fff ;
}

.leaflet-container a {
color: #fff;
text-transform: uppercase;
font-size: 12px;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.slider-animate-container {
text-align: right;
margin-top: 0px;
}

.skin-blue .main-header .logo {
background-color: #EAEFF6; 
position: fixed;
color: #3A4A9F;
border-bottom: 0 solid transparent;
}

.skin-blue .main-header .logo:hover {
background-color: #EAEFF6; 
color: #3A4A9F;
position: fixed;
border-bottom: 0 solid transparent;
}

.sidebar {
  color: #fff;
  font-size: 20px;
  font-weight:800;
  position: fixed;
  white-space: nowrap;
  overflow: visible;
}

.content {
  margin-top: 50px;
}

.sidebar-menu {
margin-top:10px;
}

.sidebar-menu > li > a {
border-top: solid 0.5px #3a4a9f;
border-bottom: solid 0.5px #3a4a9f;
}

.skin-blue .sidebar a {
color: #fff;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
background-color: #002D74;
color: #fff;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
color: #fff;
font-weight: 500;
background-color: rgba(255, 255, 255, 0.2);
border-left-color: #F26852;
}

.content-wrapper, .right-side {
min-height: 100%;
background-color: #3A4A9F;
z-index: 800;
}

.skin-blue .main-header .navbar .sidebar-toggle {
color: #3A4A9F;
background: #EAEFF6;
position:fixed;
overflow-y:scroll;

}

.idyll-root {
backgrounbd: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
color: #002D74;
background: #DBDCDD;
}

body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.h1, h1 {
font-size: 46px;
text-align: center;
letter-spacing: 2.1px;
}

.tsa-paragraph {
  line-height:2;
  text-align:left;
  display:inline;
}

.jumbotron {
padding-top: 48px;
background-color: #3A4A9F;
padding-bottom: 48px;
}

.jumbotron .h1, .jumbotron h1 {
font-size: 64px;
font-weight: 800;
color: #fff;
text-transform: uppercase;
letter-spacing: 6px;
text-align: center;
}

.jumbotron p {
margin-bottom: 15px;
font-size: 32px;
font-weight: 500;
color: #fff;
text-transform: uppercase;
letter-spacing: 3px;
text-align: center;
}

.thumbnail .caption {
padding: 9px;
margin: 0;
color: #3A4A9F;
}

.thumbnail {
  display: block;
  text-align:center;
  padding: 5px;
  height: 375px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #3A4A9F;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.thumbnail h3{
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.thumbnail p{
  font-weight: 400;
  font-size:18px;
  line-height:1.3;
  color: #fff;
  margin:12px;
  text-align: left;
}

.thumbnail i{
  font-size:45px;
  line-height:1.3;
  color: #002D74;
  text-align: center;
  display: inline-block;
}

.btn-primary {
background-color: #F26852;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
border-width: 2px;
width: 100%;
border-color: #F26852;
}

.info {
  padding: 6px 8px;
  font: 14px/16px 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: transparent;
  box-shadow: none;
  border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #fff;
}

.legend svg text {
fill: #fff;
}

.legend svg line {
stroke: #fff;
}

line {
stroke-width: 2px;
}

a {
color: #fbfbfb;
text-decoration: none;
}

#play-output {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.skin-blue .sidebar-form {
border-radius: 0px;
border: none;
border-bottom: 1px solid #fff;
margin: 0px !important;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
font-size: 22px;
background-color: #3A4A9F;
color: #fff;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
border: 1px solid rgba(255,255,255,0.9);
background-clip: padding-box;
}

.leaflet-bar a.leaflet-disabled {
cursor: default;
background-color: #3A4A9F;
color: #fff;
}

.legendCircle {
   border-radius:50%;
   border: 2px solid black;
   display: inline-block;
   position: relative;
 }

.skin-blue .sidebar-form input[type=text] {
color: #fff;
font-size: 24px;
font-weight: 700;
border-top-left-radius: 2px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 2px;
}

.skin-blue .sidebar-form .btn, .skin-blue .sidebar-form input[type=text] {
box-shadow: none;
background-color: #3a4a9f;
border: none;
height: 35px;
}

.skin-blue .sidebar-form input[type=text]:focus, .skin-blue .sidebar-form input[type=text]:focus + .input-group-btn .btn {
    background-color: #3a4a9f;
    color:#fff
}

.bg-blue {
  background-color: #3a4a9f !important;
  color: #fff !important;
}

.bg-navy {
  background-color: #3a4a9f !important;
  /*background-color: #EAEFF6 !important;*/
  color: #F26852 !important;
}

.small-box .icon-large {
position: absolute;
top: auto;
bottom: 5px;
right: 5px;
font-size: 70px;
/*color:#DBDCDD*/
color: #F26852
}

small-box p {
font-size: 12px;
}

.info-box {
display: block;
min-height: 90px;
background: #3a4a9f;
width: 100%;
box-shadow: 0 0px 0px rgba(0,0,0,.1);
border-radius: 2px;
margin-bottom: 15px;
}

.info-box-icon {
border-top-left-radius: 2px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 2px;
display: block;
float: left;
height: 90px;
width: 90px;
text-align: center;
font-size: 55px;
line-height: 90px;
background: rgba(0,0,0,.2);
}

.info-box-number {
display: block;
font-weight: 800;
font-size: 28px;
}

a > .info-box {
color: #fff;
}

p > .info-box{
font-size: 3px;
}

hr {
margin-top: 5px;
margin-bottom: 10px;
border: 0;
border-top: 1px solid #eee;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
border: none;
background: #3a4a9f;
color: #fff;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
/* background-clip: padding-box; */
}

.selectize-input.full {
background-color: #3a4a9f;
color: #fff;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-size: 24px;
font-weight: 700;
border-top-left-radius: 2px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 2px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
color: #fff;
font-family: inherit;
font-size: inherit;
line-height: 20px;
-webkit-font-smoothing: inherit;
}

.selectize-input {
border: none;
border-bottom: 1px solid #fff;
padding: 6px 12px;
display: inline-block;
width: 100%;
overflow: hidden;
position: relative;
z-index: 1;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
background: #3a4a9f;
color: #fff;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-size: 24px;
font-weight: 700;
cursor: text;
display: inline-block;
}

.selectize-dropdown, .selectize-dropdown.form-control {
height: auto;
padding: 0;
margin: 2px 0 0 0;
z-index: 1000;
background: #3a4a9f;
color: #fff;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-size: 22px;
font-weight: 400;
border: 1px solid #cccccc;
border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
}

.selectize-input.focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, 0.6);
}

.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
  background: #3a4a9f;
  color: #fff;
  border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input > div.active {
  background: #3a4a9f;
  color: #ffffff;
  border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #fff;
  background: #3a4a9f;
  border: 0 solid #fff;
}

.shiny-loader-placeholder {
  height:100px !important;
}
.selectize-dropdown .optgroup-header {
  color: #fff;
  background: #3a4a9f;
  cursor: default;
}

.selectize-input .items .has-options .not-full {
  color:#fff;
}

.selectize-dropdown .active {
  background-color: #3a4a9f;
  color: #fff;
}
.selectize-dropdown .active.create {
  color: #fff;
}

.selectize-control.single .selectize-input:after {
  content: ' ';/* color: white; */
  display: block;
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.covid-topic {
    font-weight: 500;
    letter-spacing:2px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(58, 74, 159);
    margin-right: -15px;
    margin-left: -15px;
    background: rgb(234, 239, 246);
    padding: 10px;
}

.economic-tile {
  width: 100%;
  background-color: #002D74;
  margin: 0 2px;
  padding: 6% 0;
}

.tile-header{
  text-align:center;
  font-size:.5em;
  text-transform:uppercase;
  font-weight:500
}

.economic-grid {
  padding: 2px;
}

.sidebar-menu li {
  padding-left: 0em;
  font-weight:500;
  display: block;
}

.sidebar-menu>li>a>.fa {
/* width: 20px; */
text-align: center;
width: 1.25em;
}

.modal-content {
position: relative;
background-color: #EAEFF6;
background-clip: padding-box;
border: 1px solid #999;
border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 3px 9px rgba(0,0,0,.5);
outline: 0;
}

.modal-title {
margin: 0;
font-weight: 500;
color: #3A4A9F;
font-size: 25px;
text-align: center;
text-transform: uppercase;
letter-spacing: 3px;
line-height: 1.42857143;
}

.modal-header {
padding: 15px;
border-bottom: 9px solid #F26852;
}

.modal-body {
position: relative;
padding: 15px;
color:#6B6D6F;
font-size: 16px;
line-height: 1.8;
}

.modal-body h4{
  font-weight:700;
  letter-spacing: 1.5px;

}

.modal-body h2{
  font-weight:700;
  letter-spacing: 1.5px;

}
section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
margin: 6px 5px 6px 15px;
background-color: #EAEFF6;
text-transform: uppercase;
font-weight: 600;
color: #3A4A9F;
width:90%;
font-size:18px;
letter-spacing: 2px;
display: block;
}

.collateral {
  font-size: 16px;
  line-height: 1.8;
}

.collateral h1{
  font-weight:800;
  text-transform:uppercase;
  letter-spacing:3px;
}

.collateral h2{
  font-weight:600;
  color:#FFD100;
  text-transform:uppercase;
  letter-spacing:1px;
}

.collateral h3{
  font-weight: 800;
  letter-spacing: .5px;
}

.btn-primary.hover, .btn-primary:active, .btn-primary:hover {
    background-color:#00A9C5;
    border-color:#00A9C5;
}

@media (max-width: 800px) {
  .jumbotron h1 {
    font-size: 3.0rem;	  
  }

}
